@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      text-decoration: none;
      list-style: none;
}

:root {
      --height-vav: 70px;
      --background-white: #f2f2f2;
      --background-blue: #143d64;
      --color-white: #fff;
}

body {
      font-family: "Inter", sans-serif;
      background: var(--background-white);
}

/* --------------------------HEADER------------------------------- */

.header {
      width: 100%;
      margin-bottom: 1rem;
}

.nav {
      background: var(--background-blue);
      height: var(--height-vav);
      color: var(--color-white);
      padding: 1rem 2rem;
}

.nav__container {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
}

.nav__links {
      display: flex;
      gap: 3rem;
      padding: 0.5rem;
      margin-right: 5rem;
}

.nav__links:hover {
      cursor: pointer;
}

a {
      color: var(--color-white);
      font-weight: bold;
}

/* -------------------------------MAIN------------------------------ */
.container {
      width: 90%;
      max-width: 1200px;
      margin: 0 auto;
      overflow: hidden;
}

/* img {
      width: 400px;
      height: 400px;
} */

.main__container {
      display: flex;
      height: calc(100vh - var(--height-vav));
      align-items: center;
      /* max-width: 1200px;
      margin: 0 auto;
      overflow: hidden;
      border: 1px solid;
      min-height: 600px; */
}

.main__texts {
      flex: 1;
}

.main__picture {
      flex: 1;
}

.main__img {
      width: 100%;
      max-width: 450px;
      display: block;
      margin: 0 auto;
}

.main__title {
      font-size: 3rem;
}

.main__paragraph {
      font-size: 1.5rem;
      font-weight: 300;
}

.cta {
      background: var(--background-blue);
      display: inline-block;
      padding: 15px 30px;
      margin-top: 1.5em;
      border-radius: 6px;
}