@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      text-decoration: none;
      list-style: none;
}

:root {
      --height-vav: 70px;
      --background-white: #f2f2f2;
      --background-blue: #143d64;
      --color-white: #fff;
}

body {
      font-family: "Inter", sans-serif;
      background: var(--background-white);
}

/* --------------------------HEADER------------------------------- */

.header {
      width: 100%;
      margin-bottom: 1rem;
}

.nav {
      background: var(--background-blue);
      height: var(--height-vav);
      color: var(--color-white);
      padding: 1rem 2rem;
}

.nav__container {
      display: flex;
      justify-content: space-between;
      justify-items: center;
}

.nav__links {
      display: flex;
      gap: 1rem;
      border: 1px solid;
      padding: 0.5rem;
}

a {
      color: var(--color-white);
}

/* -------------------------------MAIN------------------------------ */

.container {
      width: 90%;
      max-width: 1200px;
      margin: 0 auto;
      overflow: hidden;
      border: 1px solid;
}